.container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 40px;
    min-width: 320px;
    border-radius: 2%;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(255,255,255);
}

.leftSide, .rightSide {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.leftSide {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    .text {
        font-size: 16px;
        text-align: center;
    }
    .content {
        margin-top: 50px;
        font-size: 12px;
    
    }
    a, a:hover {
        color: inherit;
        font-style: italic;
    }
}

.rightSide {
    .title {
        font-size: 24px;
        font-weight: 400; 
        margin-bottom: 25px;
    }
}